body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
  background: #f6f6ef;
  width: 400px;
  margin: 20px;
}

ol {
  padding-left: 20px;
}

p {
	margin-bottom: 5px;
}

p a:link {
	color: #000;
	text-decoration: none;
}

p a:visited {
	color: #000;
	text-decoration: none;
}

small {
  font-size: 7pt;
}

small a:link {
	color: #828282;
	text-decoration: none;
}

small a:visited {
	color: #828282;
	text-decoration: none;
}

.site {
	font-size: 8pt;
}

.more {
  text-align: right;
}
