<div>
  <ol>
    {{#each visibleStories key="id" as |story|}}
      <top-story @story={{story}} />
    {{/each}}
  </ol>
  {{#unless expanded}}
    <p class="more">
      <a href="#" onclick={{action showMore}}>More</a>
    </p>
  {{/unless}}
</div>
