<div>
  <!-- Empty link to avoid Chrome auto focusing first link -->
  <a href="#"></a>
  <ol>
    {{#each stories key="id" as |story|}}
      <TopStory @story={{story}} />
    {{/each}}
  </ol>
</div>
